.badge {
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: var(--font-heading);
    text-transform: capitalize;
    background-color: var(--color-smooth);
    line-height: 1;
    font-weight: 600;
    font-size: 1rem;
    padding: 2px 6px;
    span {
        line-height: 1;
    }
    &--best {
        color: var(--color-success);
    }
    &--sale {
        color: var(--color-danger);
    }
    &--new {
        color: var(--color-blue);
    }
    &--limited {
        background-color: var(--color-danger);
        color: #fff;
    }
    &--discount {
        background-color: var(--color-danger);
        line-height: 1;
        color: var(--color-light);
    }
}